{% extends 'layout.html' %}
{% block content %}
    <h3>{{ shop.name }}</h3>
    <ul>
        <li>{{ shop.description }}</li>
        <li>평점 : {{ shop.grade }}</li>
        <li>{{ shop.created_at }}</li>
        <li><img src="{{ shop.shop_image.url }}" alt="{{ shop.name }}"></li>
        <ul>오프라인 판매처
            {% for off in shop.offline.all %}
                <li>{{ off }}</li>
            {% endfor %}
        </ul>
        <li><a href="{% url 'slime:add' %}">슬라임 등록</a></li>
    </ul>
{% endblock %}