{% extends 'layout.html' %}
{% load shop_tag %}
{% block content %}
    <h3>{{ shop.name }}</h3>
    <ul>
        <li>{{ shop.description }}</li>
        <li>평점 : {{ shop.grade }}</li>
        <li>{{ shop.created_at }}</li>
        <li>
            <img src="{{ shop.shop_image.url }}" alt="{{ shop.name }}" style="width:300px; height: 300px;">
        </li>
        <li>오프라인 판매처
            <ul>
            {% for off in shop.offline.all %}
                <li>{{ off }}</li>
            {% endfor %}
            </ul>
        </li>
        <li>온라인 판매처 : {{ shop.online }}
        </li>
        <li>인스타그램 링크 : <a href="{{ shop.instagram_link }}">{{ shop.instagram_link }}</a></li>
        <li><a href="{% url 'slime:add' %}">슬라임 등록</a></li>
        <li>슬라임 목록
            <li>총 {{ shop.slime_set.all|count }}개의 슬라임 핀매 중</li>
        {#              TODO :: template filter를 사용해 판매중인 슬라임 개수 판별  #}

            <ul>
            {% for slime in shop.slime_set.all|slice:":9" %}
                <li>
                    <p>{{ slime.name }}</p>
                    <div>
                        <a href="{% url 'slime:detail' slime.id %}">
                            <img src="{{ slime.img.url }}" alt="" style="width:300px; height:300px;">
                        </a>
                    </div>
                    <div>
                        <video style="width:300px; height:300px;" controls>
                            <source src="{{ slime.video_link }}" type="video/mp4">
                        </video>
                    </div>
                </li>
                <a href="">더보기</a>
            {% endfor %}

        </ul>
        </li>
    </ul>
{% endblock %}